{% extends "layout.html" %}

    {% block main %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                
            </div>
            <div class="col-sm">
                <h1 class="display-1 text-center">My Plants</h1>
            </div>
            <div class="col-sm">
                
            </div>
        </div>

        <div class="row">
            <div class="col-sm">

            </div>
            <div class="col-sm">
                <form class="form" id="popup" action="/plants" method="POST">
                    <div class="form-group-row">
                        <div class="mb-3 col-sm">
                            <input class="form-control" type="text" name="planttype" autocomplete="off" placeholder="Plant Type" id="plantsearch">
                        </div>
                       <div class="mb-3 col-sm text-center" id="options">
                        </div>
                        <div class="mb-3 col-sm">
                            <button class="btn btn-primary form-control" type="submit">Add Plant</button>
                       </div>       
                    </div>     
                </form>
            </div>
            <div class="col-sm">

            </div>
        </div>
        
        {% for i in range (0, plants|length, 2) %}

            <div class="row text-center">
                <div class="col-sm">
                    <h2>
                        {{plants[i]}}
                    </h2>       
                </div>
                <div class="col-sm">
                    {% if plants|length > i+1 %}
                        <h2>
                            {{plants[i+1]}}
                        </h2> 
                    {% endif %}
                </div>    
            </div>
        {% endfor %}

    </div>

    <script>

        function showOptions(json) { // Get all plant names and add buttons to form
            for (let i = 0; i < json["response"].length; i++) {
                let name = json["response"][i]["name"];
                $("#options").append(" <button class='mb-3 btn btn-success' type='button'>" + name + "</button>");
            }
        }

        $(document).ready(function() { // When document loaded

            $(document).click(function() { // If search bar unselected hide options
                if (event.target.id != "plantsearch")
                {
                    $("#options").css('display', 'none');
                }
            })

            $("#options").click(function(){ // If option clicked set form value, empty and hide options
                $("#plantsearch").val($(event.target).html());
                $("#options").empty();
                $("#options").css('display', 'none');
            })

            $("#plantsearch").click(function(){ // If search bar clicked display options
                $("#options").css('display', 'inline-block');
            })

            $("#plantsearch").keyup(function() { // Make ajax call on each keypress unless string is empty in which case empty option list
                if ($("#plantsearch").val().length == 0)
                {
                    $("#options").empty();
                    $("#options").css('display', 'none');
                }
                else {
                    $("#options").css('display', 'inline-block');
                    $.ajax({
                    url: '/searchplants',
                    type: 'POST',
                    data: JSON.stringify({"planttype": $("#plantsearch").val()}),
                    contentType: 'application/json',
                    success: function(json)
                    {
                        console.log(json);
                        $("#options").empty();
                        showOptions(json);
                    }
                    })
                }   
            })
        })

        
    </script>

{% endblock %}}